src/main/resources/wholesaleOrder.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="order" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="order_no"/>
              <xs:element type="xs:string" name="order_date"/>
              <xs:element type="xs:string" name="ship_to_name"/>
              <xs:element type="xs:string" name="ship_to_address_1"/>
              <xs:element type="xs:string" name="ship_to_city"/>
              <xs:element type="xs:string" name="ship_to_state"/>
              <xs:element type="xs:string" name="ship_to_ZIP"/>
              <xs:element type="xs:string" name="ship_to_country"/>
              <xs:element type="xs:string" name="ship_to_email"/>
              <xs:element type="xs:string" name="ship_to_phone"/>
              <xs:element type="xs:string" name="ship_to_company_name"/>
              <xs:element type="xs:string" name="sku"/>
              <xs:element type="xs:string" name="retailer_sku"/>
              <xs:element type="xs:int" name="upc"/>
              <xs:element type="xs:int" name="retailer_line_no"/>
              <xs:element type="xs:int" name="quantity"/>
              <xs:element type="xs:string" name="uom"/>
              <xs:element type="xs:string" name="net_price"/>
              <xs:element type="xs:string" name="currency"/>
              <xs:element type="xs:string" name="delivery_date"/>
              <xs:element type="xs:int" name="vendor_no"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
